<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>BARAT</h1>
      <h2>Makna Barat Menurut KBBI</h2>
      <p title="Pengertian Barat">
        Berdasarkan <b>KBBI</b> nama mata angin yang arahnya berlawanan dengan
        <u>timur</u>>; arah tempat matahari terbenam: matahari terbenam di
        sebelah;
        <u
          >2 (huruf pertama kapital) orang, bangsa, negara Eropa dan Amerika:
          bangsa; kebudayaan;</u
        >
        daya mata angin yang arahnya antara barat dan selatan; laut mata angin
        yang arahnya antara barat dan utara;
      </p>

      <p>
        Berdasarkan <b>KBBI</b> nama mata angin yang arahnya berlawanan dengan
        <u>timur</u>>; arah tempat matahari terbenam: matahari terbenam di
        sebelah;
        <u
          >2 (huruf pertama kapital) orang, bangsa, negara Eropa dan Amerika:
          bangsa; kebudayaan;</u
        >
        daya mata angin yang arahnya antara barat dan selatan; laut mata angin
        yang arahnya antara barat dan utara;
      </p>

      <a href="https://kbbi.web.id/barat" target="_blank"><b>Sumber</b></a>
    </div>

    <div>
      <p>
        <a href="/index.html" target="_blank"
          ><b>Kembali ke halaman index</b></a
        >
      </p>
    </div>
  </body>
</html>
