<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Minitask 4" />
    <title>Document</title>
  </head>
  <body>
    <table border="2px solid black">
      <caption>
        <font size="14">TABEL HASIL SURVEY PEROKOK</font>
      </caption>

      <thead bgcolor="black">
        <tr>
          <th scope="col" rowspan="2">
            <font color="white">Nama Lengkap</font>
          </th>
          <th scope="col" rowspan="2"><font color="white">Umur</font></th>
          <th scope="col" rowspan="2">
            <font color="white">Jenis Kelamin</font>
          </th>
          <th scope="col" rowspan="2">
            <font color="white">Status Perokok</font>
          </th>
          <th scope="colgroup" colspan="5"><font color="white">Brand</font></th>
        </tr>
        <tr>
          <th scope="col"><font color="white">Dunhill</font></th>
          <th scope="col"><font color="white">Gudang Garam</font></th>
          <th scope="col"><font color="white">Marlboro</font></th>
          <th scope="col"><font color="white">Sampoerna</font></th>
          <th scope="col"><font color="white">Surya</font></th>
        </tr>
      </thead>
      <tbody>
        <tr bgcolor="lightgrey">
          <td>M. Bian Al-Baihaqi Mustofa Wiranata Kusumah</td>
          <td>20th</td>
          <td>Laki-Laki</td>
          <td>Ya</td>
          <td>V</td>
          <td>-</td>
          <td>V</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>M. Ghifar Ramdhani</td>
          <td>26th</td>
          <td>Laki-Laki</td>
          <td>Ya</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>V</td>
        </tr>
        <tr>
          <td>Nugraha Panca Wibisana</td>
          <td>18th</td>
          <td>Laki-Laki</td>
          <td>Ya</td>
          <td>-</td>
          <td>-</td>
          <td>V</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Baramuda</td>
          <td>38th</td>
          <td>Laki-Laki</td>
          <td>Ya</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>V</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Dava</td>
          <td>28th</td>
          <td>Laki-Laki</td>
          <td>Ya</td>
          <td>V</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Hendra</td>
          <td>48th</td>
          <td>Laki-Laki</td>
          <td>Ya</td>
          <td>V</td>
          <td>-</td>
          <td>-</td>
          <td>V</td>
          <td>V</td>
        </tr>
        <tr>
          <td>Khalish</td>
          <td>58th</td>
          <td>Laki-Laki</td>
          <td>Ya</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>V</td>
          <td>V</td>
        </tr>
        <tr>
          <td>Panca</td>
          <td>28th</td>
          <td>Laki-Laki</td>
          <td>Ya</td>
          <td>V</td>
          <td>V</td>
          <td>V</td>
          <td>V</td>
          <td>V</td>
        </tr>
        <tr>
          <td>Iniesta</td>
          <td>21th</td>
          <td>Laki-Laki</td>
          <td>Ya</td>
          <td>V</td>
          <td>V</td>
          <td>V</td>
          <td>V</td>
          <td>V</td>
        </tr>
        <tr>
          <td>Budiono Siregar</td>
          <td>22th</td>
          <td>Laki-Laki</td>
          <td>Ya</td>
          <td>-</td>
          <td>-</td>
          <td>V</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
    <br />
    <a href="/views/minitask5.html"> Kembali ke halaman form</a>
  </body>
</html>
