<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Minitask 4" />
    <title>Document</title>
  </head>
  <body>
    <table border="2px solid black">
      <caption>
        <font size="30">DATA TALENT KODA 5</font>
      </caption>

      <thead bgcolor="black">
        <tr>
          <th><font color="white">Nama Lengkap</font></th>
          <th><font color="white">Kota Asal</font></th>
          <th><font color="white">Pendidikan Terakhir</font></th>
          <th><font color="white">Umur</font></th>
        </tr>
      </thead>
      <tbody>
        <tr bgcolor="lightgrey">
          <td>Ari Ramadhan</td>
          <td>Tanjungpinang</td>
          <td>S1 Teknik Informatika</td>
          <td>30th</td>
        </tr>
        <tr>
          <td>Virgil I Ambar</td>
          <td>Manado</td>
          <td>S1 Perencanaan Kota</td>
          <td>25th</td>
        </tr>
        <tr bgcolor="lightgrey">
          <td>M. Bian Al-Baihaqi Mustofa Wiranata Kusumah</td>
          <td>Bandung</td>
          <td>SMK</td>
          <td>20th</td>
        </tr>
        <tr>
          <td>M. Ghifar Ramdhani</td>
          <td>Karawang</td>
          <td>SMA</td>
          <td>26th</td>
        </tr>
        <tr bgcolor="lightgrey">
          <td>Nugraha Panca Wibisana</td>
          <td>Subang</td>
          <td>SMK</td>
          <td>18th</td>
        </tr>
        <tr>
          <td>M. Hilmy</td>
          <td>Surabaya</td>
          <td>S1 Teknik Informatika</td>
          <td>27th</td>
        </tr>
        <tr bgcolor="lightgrey">
          <td>Aditya Bastias Mulya</td>
          <td>Temanggung</td>
          <td>SMK</td>
          <td>28th</td>
        </tr>
        <tr>
          <td>Aska Diliyan Perkasa</td>
          <td>Nganjuk</td>
          <td>D3 Sistem Informasi</td>
          <td>27th</td>
        </tr>
        <tr bgcolor="lightgrey">
          <td>
            M. Fadhlul Rahman
            <a
              href="https://id.wikipedia.org/wiki/Prabowo_Subianto"
              target="_blank"
              ><font color="black">Prabowo</font></a
            >
          </td>
          <td>Bekasi</td>
          <td>S1 Teknik Elektro</td>
          <td>24th</td>
        </tr>
      </tbody>
    </table>
    <br />
    <a href="/index.html"> Kembali ke halaman index</a>
  </body>
</html>
