<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Sungai</h1>
      <h2>Pengertian Sungai Menurut KBBI</h2>
      <p title="Pengertian Sungai Menurut KBBI">
        <b>sungai/su·ngai/</b> aliran air yang besar (biasanya buatan alam);
        kali: -- itu dapat dilayari sampai ke pedalaman;
        <i
          >-- bawah tanah aliran air yang mengalir melalui ruang-antara yang
          sangat besar,</i
        >
        seperti gua yang bersambungan; -- lenyap sungai permukaan yang
        menghilang ke bawah tanah, seperti melalui lubang terlangah dan yang
        memasuki aliran bawah tanah;
        <mark
          >-- malar Hid sungai yang mengalir terus-menerus sepanjang tahun; --
          menahun sungai malar; -- merugi Hid sungai yang menyumbangkan air ke
          air tanah melalui peresapan;
        </mark>
      </p>

      <p>
        <b>sungai/su·ngai/</b> aliran air yang besar (biasanya buatan alam);
        kali: -- itu dapat dilayari sampai ke pedalaman;
        <i
          >-- bawah tanah aliran air yang mengalir melalui ruang-antara yang
          sangat besar,</i
        >
        seperti gua yang bersambungan; -- lenyap sungai permukaan yang
        menghilang ke bawah tanah, seperti melalui lubang terlangah dan yang
        memasuki aliran bawah tanah;
        <mark
          >-- malar Hid sungai yang mengalir terus-menerus sepanjang tahun; --
          menahun sungai malar; -- merugi Hid sungai yang menyumbangkan air ke
          air tanah melalui peresapan;
        </mark>
      </p>

      <a href="https://kbbi.web.id/sungai" target="_blank"><b>Sumber</b></a>
    </div>

    <div>
      <p>
        <a href="/index.html" target="_blank"
          ><b>Kembali ke halaman index</b></a
        >
      </p>
    </div>
  </body>
</html>
